# [IT Academy - Data Science with Python](https://www.barcelonactiva.cat/es/itacademy)
## [S17 T01: Database](https://github.com/jesussantana/Database/blob/main/notebooks/S17_T01_Database.ipynb)

[![forthebadge made-with-python](http://ForTheBadge.com/images/badges/made-with-python.svg)](https://www.python.org/)  
[![Made withJupyter](https://img.shields.io/badge/Made%20with-Jupyter-orange?style=for-the-badge&logo=Jupyter)](https://jupyter.org/try)

****

## Level 1

- Exercise 1  

  - Create a sample relational database using a text or handwritten document. Design it to contain the following tables, and establish the relationships you deem necessary between them:

    - Table of purchases (transactions)

    - Table of establishments

    - Table of workers

    - Table of clients

    - Table of products

    - Product type table

  - Defines the properties of the relationships (1: 1, 1: n, n: n), and create some of the variables that could contain, for example:

    - Table of establishments

      - IDestabliment (unique key)

      - Nom

      - Location

      - Surface

- Entities:

  - TRANSACTIONS (transaction_Id, Product_Id, Employee_Id, Customer_Id, Price_Sum, Date)

  - CLIENTS (Customer_id, Customer_Name, Phone_cl, Mail)

  - ESTABLISHMENTS (Establishment_id, Establishment_Name, Location, Area)

  - WORKERS (Worker_id, Worker_Name, Establishment_Id, Contract_Date, Phone_tr)

  - PRODUCTS (Product_Id, Product_Name, Type_Id, Price, Product_Date)

  - TYPES OF PRODUCTS (Id_type, Type)

- Relationships:

  - Purchases, between CUSTOMERS and TRANSACTIONs: 1-N
  - They work, between ESTABLISHMENT and WORKERS: 1: N
  - They have 1, between ESTABLISHMENT and PRODUCTS: 1-N
  - They have 2, between ESTABLISHMENT and CUSTOMERS: 1-N
  - It is part, between PRODUCT and TYPE OF PRODUCT: 1-1

## Level 2

- Exercises 2:

  - Use an entity-relationship diagram creation program like http://dia-installer.de to create the diagram.

<img src="https://embed.creately.com/neWvGt2ZHyT?token=KLpuLRixI2aem7if&type=svg">

## Level 3

- Exerxise 2:
  - Use the MySQL Workbench to create a relational model.

### Workbench Installation

https://dev.mysql.com/downloads/repo/apt/

cd Downloads

sudo apt install ./mysql-apt-config_0.8.16-1_all.deb

sudo apt update

sudo apt install mysql-workbench-community

In [ ]:
mysql-workbench

![Workbench](img/Workbench.png)

### Script to create database with workbench with MySQL

[ Workbench Script](CreateDatabaseWorkbench.sql)

DROP DATABASE IF EXISTS S17;
CREATE DATABASE S17;
USE S17;

SET NAMES utf8;
SET character_set_client = utf8mb4;

CREATE TABLE CUSTOMERS (
    Customer_id INT(11) NOT NULL,
    Customer_Name VARCHAR(50),
    Mail VARCHAR(50),
    Phone_customer VARCHAR(50),
    PRIMARY KEY (Customer_id)
);
   
CREATE TABLE ESTABLISHMENTS (
    Establishment_id INT(11) NOT NULL,
    Establishment_name VARCHAR(50),
    Location VARCHAR(50),
    Surface VARCHAR(50),
    PRIMARY KEY (Establishment_id)
);
    
CREATE TABLE WORKERS (
    Worker_id INT(11) NOT NULL,
    Worker_Name VARCHAR(50),
    Establiment_id INT(11) NOT NULL,
    Data_contract DATETIME,
    Phone_worker VARCHAR(50),
    PRIMARY KEY (Worker_id),
    FOREIGN KEY (Establishment_id)
        REFERENCES ESTABLISHMENT (Establishment_id)
);
    
CREATE TABLE PRODUCT_TYPE (
    Type_id INT(11) NOT NULL,
    Type_Name VARCHAR(50),
    PRIMARY KEY (Type_id)
);
   
CREATE TABLE PRODUCTS (
    Product_id INT(11) NOT NULL,
    Product_Name VARCHAR(50),
    Type_id INT(11) NOT NULL,
    Price INT(11) NOT NULL,
    Datetime_production DATETIME,
    PRIMARY KEY (Product_id),
    FOREIGN KEY (Type_id)
        REFERENCES PRODUCT_TYPE (Type_id)
);
   

CREATE TABLE PURCHASES (
    Purchase_id INT(11) NOT NULL,
    Product_id INT(11) NOT NULL,
    Industry_Worker INT(11) NOT NULL,
    Customer_id INT(11) NOT NULL,
    Price_sum INT(11) NOT NULL,
    Date_Purchase DATETIME,
    PRIMARY KEY (Purchase_id),
    FOREIGN KEY (Product_id)
        REFERENCES PRODUCTS (Product_id),
    FOREIGN KEY (Worker_id)
        REFERENCES WORKERS (Worker_id),
    FOREIGN KEY (Customer_id)
        REFERENCES CUSTOMERS (Customer_id)
);